<!--The content below is only a placeholder and can be replaced.-->
<div class="pupster-container">

    <a routerLink="/about" routerLinkActive="active"><i class="pupster-icon fas fa-dog 7x"></i></a>
      <h1>Make New Puppy Friends</h1>
      Life is Better with a Best Friend
  <!-- <nav>
    <a routerLink="/about" routerLinkActive="active"></a>About</a>
    <a routerLink="/discover" routerLinkActive="active">Discover</a>
    <a routerLink="/search" routerLinkActive="active">Search</a>
  </nav> -->
  <!-- <nav className="navbar navbar-expand-lg navbar-dark bg-dark">
    <Link className="navbar-brand" to="/">Pupster</Link>
    <button className="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span className="navbar-toggler-icon"></span>
    </button>
    <div className="collapse navbar-collapse" id="navbarNav">
      <ul className="navbar-nav">
        <li className="nav-link">
          <a routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <li className="nav-link">
          <a routerLink="/discover" routerLinkActive="active">Discover</a>
        </li>
        <li className="nav-link">
          <a routerLink="/search" routerLinkActive="active">Search</a>
        </li>
      </ul>
    </div>
    </nav> -->


<router-outlet></router-outlet>
<!-- Routed views go here -->
</div>