

.doggy {
    background: #D0814E;
    background: #EE6666;
    border-radius: 50px;
    padding: 20px;
    height:350px;
    width: 350px;
    text-align: center;
    margin: 0 auto;
}
img {
    border-radius: 20%;
    border: 5px solid #3D2314;
    border: 5px solid #FFCC47;
    border: 1px solid #505C62;
    /* border: 5px solid #87D271; 
    border: 5px solid #fff; 
    border: 5px solid rgb(240, 58, 58);  */

    max-height: 300px;
    max-width: 300px;
}
.fa-spinner {
    font-size: 180px;
    position: relative;
    top: 15%;
  }
.thumb {
    display: inline-block;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
}