
<form>
  <!-- <label for="search-breed">Breed name:</label> -->
  <input #searchBreed type="text" name="breed" id="search-breed" list="breed-list" placeholder="Type in a dog breed to begin" />
  <datalist id="breed-list">
    <option *ngFor="let breed of breeds.message" value={{breed}}>{{breed}}</option>
  </datalist>

<button id="submit-btn" type="button" 
  className="btn btn-success btn-block mt-2" 
  (click)="handleSearch(searchBreed.value); searchBreed.value = ''">Search</button>
</form>


<h2 *ngIf="breedImages.message && breedImages.message.length > 0">{{searchedBreed}}</h2>
<div id="content">
  <div class="results" *ngFor="let breedImage of breedImages.message">
    <img class="results-image" src={{breedImage}} />
  </div>
</div>